name: continuous-integration

on: push

jobs:

  the_job:

    runs-on: ubuntu-latest
    # runs-on: windows-latest

    # PEARL: In a GitHub Action, if you try to git-push you get a 403 permission denied error.
    #        The following fixes this problem.
    permissions:
      contents: write

    env:
      # PEARL: In a GitHub Action, the output of `dotnet build` looks very different from what it looks when building
      #        locally. For example, the output of "Message" tasks is not shown, even with Importance="High".
      #        The "-ConsoleLoggerParameters:off" magical incantation corrects this problem.
      # PEARL-ON-PEARL: The "-ConsoleLoggerParameters:off" magical incantation does not work when building locally; it
      #        only works on GitHub.
      # The "-TerminalLogger:off" magical incantation works both when building locally and on GitHub, and it also comes
      # in the form of a convenient 'MSBUILDTERMINALLOGGER' environment variable.
      MSBUILDTERMINALLOGGER: off

    steps:

    - name: Checkout
      uses: actions/checkout@v4

      # PEARL: In a GitHub Action, if you try to perform any git operation that relies on the history of the repository
      #        being present, that operation will fail. The following fixes this problem.
    - name: Unshallow
      run: git fetch --prune --unshallow

      # PEARL: In a GitHub Action, if you try to git-commit, you get an "Author identity unknown" error.
      #        The following fixes this problem.
    - name: Identify
      run: |
        git config user.email "${{ github.actor }}@github.com"
        git config user.name "${{ github.actor }}"

    - name: Setup dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.200

    - name: Run the actual continuous integration script
      run: |
        bash continuous-integration.bash --project-name=${{ github.event.repository.name }} \
          --github-packages-nuget-api-key=${{ secrets.MY_GITHUB_TOKEN }} \
          --nuget-org-nuget-api-key=${{ secrets.NUGET_API_KEY }}
